.footer_container{
    background-color:grey;
    padding: 20px;
}

.footer_text{
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_container{
    text-align: center;
}