.solarConfig_cost{
    float: right;
}

.solarPanel_cost_div{
    padding: 5px;
}

.solarConfig_costs_container{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

.select_kw_btn{
    padding: 5px;
    margin-right: 9px;
}

.solarPanel_kw_div{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

.solarPanel_selectKwSize_div{
    padding-top: 20px;
}

.solarPanel_select{
    padding: 4px 20px 4px 20px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.solarPanel_selectPymt_btn{
    padding: 5px;
    width: 32%;
    border: 1px solid gainsboro;
    border-bottom: 3px solid gainsboro;
    text-align: center;
    margin-right: 2px;
    cursor: pointer;
}

.solarPanel_selectPymt_btn:hover{
    border-bottom: 3px solid rgb(22, 131, 252);
}

.solarPanel_selectPymt_div{
    margin-bottom: 10px;
}

.solarPanel_Img_container{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 35px;
}