.solarPanel_additions_select{
    overflow: auto;
    width: 100%;
    height: 268px;
}

.solar_img{
    padding: 5px 15px 5px 0px;
    height: 72px;
}

.solar_image_container{
    border: 1px solid gainsboro;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 15px 5px 0px;
}