.infoModal_container{
    display: inline-block; 
    border-radius: 5px 5px 5px 5px;
    background-color: white; 
    padding: 20px;
    border: 1px solid black; 
    z-index: 1;
    width: 94%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoModal_close{
    cursor: pointer;
}

.infoModal_super{
    height: 100vh;
    z-index: 20;
    position: fixed;
    width: 100%;
    color: black;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}

.infoModal_backing{
    margin: auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 600px; 
}