.infoModal_container{
    display: inline-block; 
    border-radius: 5px 5px 5px 5px;
    background-color: white; 
    padding: 20px;
    border: 1px solid black; 
    z-index: 1;
    width: 94%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoModal_close{
    cursor: pointer;
}

.infoModal_backing{
    width: 53.4%;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    z-index: 1; 
    margin: auto;
    position: relative;
    text-align: center;
    top: 3%;
}