.infoModal_container{
    display: inline-block;
    width: 59%; 
    margin: 20px 10px 20px 10px; 
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    height: 450px;
    padding: 20px;
    border: 1px solid black;
}