.text{
  background-color:green;
  color:red;
  padding:20px;
}

.app_NoSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}

.app_removeBlue{
  outline: none;
}

div{
  font-size: 13px;
}

.app_textalign{
  text-align: center;
}

.app_inline-block{
  display: inline-block; 
}

.app_cursorPointer{
  cursor: pointer;
}

.app_available{
  color: green;
}

.app_unavailable{
  color: red;
}

.app_textdecorationNone{
  text-decoration: none;
}

.app_source_footer{
  margin-top: 20px;
}

.app_seeMore_btn{ 
  cursor: pointer;
  border: 2px solid black;
  width: 62px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.app_seeMore_btn:hover{
  border: 2px solid rgb(22, 131, 252);
}

.app_modalData_content{
  overflow: auto;
  width: 100%;
  height: 340px; 
}

.app_Menu_btn{
  border: 1px solid black;
  padding: 5px;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid black;
  float: left;
  margin: 5px; 
}

.app_Menu_btn:hover{
  cursor: pointer;
  opacity: 0.6;
}

.app_Menu_btn:active{
  opacity: 0.4;
}

.app_Menu_container{
  width: 100%;
  padding: 20px; 
  background-color: lightgrey;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  height: 110px;
}

.app_Config_container{ 
  width: 100%;
  padding: 20px; 
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  margin-top: 20px; 
}

.app_Panel_container{
  display: inline-block;
  width: 59%;
  margin: 20px 10px 20px 10px;
  border-radius: 5px 5px 5px 5px;
}

.app_inlineFlex{
  display: inline-flex;
}

.app_columns_width{
  width: 49%;
}

.app_configTitle{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

