.app_pageHeight{
  min-height: 100vh;
}

.text{
  background-color:green;
  color:red;
  padding:20px;
}

.app_noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}

.app_removeBlue{
  outline: none;
}

div{
  font-size: 13px;
}

.app_textalign{
  text-align: center;
}

.app_inline-block{
  display: inline-block; 
}

.app_cursorPointer{
  cursor: pointer;
}

.app_available{
  color: green;
}

.app_unavailable{
  color: red;
}

.app_textdecorationNone{
  text-decoration: none;
  color: inherit;
}

.app_source_footer{
  margin-top: 20px;
}

.app_seeMore_btn{ 
  cursor: pointer;
  border: 1px solid #ddd;
  width: 62px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.app_seeMore_btn_selected{
  border: 2px solid rgb(22, 131, 252); 
}

.app_modalData_content{
  overflow: auto;
  width: 100%;
  height: 390px; 
}

.app_Menu_btn{
  border: 1px solid black;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid black; 
  margin: 5px;
  cursor: pointer;
}

.app_Menu_btn:hover{ 
  color: white;
  background-color: black; 
}

.app_Menu_btn:active{
  opacity: 0.4;
}

.app_Menu_container{
  width: 100%;
  padding: 20px; 
  background-color: lightgrey;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey; 
}

.app_Config_container{ 
  width: 100%;
  padding: 20px; 
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  margin-top: 20px; 
}

.app_Blur_component{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.app_Panel_container{
  display: inline-block;
  width: 59%;
  margin: 20px 10px 20px 10px;
  border-radius: 5px 5px 5px 5px;
}

.app_inlineFlex{
  display: inline-flex;
}

.app_displayFlex{
  display: flex;
}

.app_columns_width{
  width: 49%;
}

.app_configTitle{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.app_submit_btn{
  cursor: pointer;
  background-color: #3e6ae1;
  color: white;
  border: none;
  padding: 9px;
  color: white;;
  border-radius: 25px;
}

.app_submit_btn:hover{
  background-color: rgb(54, 90, 175);
}

.app_submit_btn:active{
  background-color: rgb(70,110,200);
}

.app_main_submit_input{
  width:  200px;
  padding: 5px;
  margin-right: 3px;
  border: 2px solid gainsboro;
}

.app_main_submit_input:focus{
  outline: none;
  border: 2px solid steelblue;
}

.app_solar_image_container{
  width: 13% !important;
}

.app_Config_spec{
  padding:9px;
}

.app_Config_specs_container{
  border: 1px solid gainsboro;
  display: inline-block;
  margin-top: 5px; 
}

.app_marginTop{
  margin-top: 6px;
}

.app_Solar_cost{
  float: right;
}

.app_Solar_cost_div{
  padding: 5px;
}

.app_Solar_costs_container{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.app_Solar_select_kw_btn{
  padding: 5px;
  margin-right: 9px;
}

.app_Solar_kw_div{
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.app_Solar_selectKwSize_div{
  padding-top: 20px;
}

.app_Solar_select{
  padding: 4px 20px 4px 20px;
  border: 1px solid gainsboro;
  border-radius: 6px;
  cursor: pointer;
}

.app_Solar_select_selected{
  border: 2px solid rgb(22, 131, 252);;
}

.app_Solar_selectPymt_btn{
  padding: 5px;
  width: 46%;
  border: 1px solid gainsboro;
  border-bottom: 3px solid gainsboro;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
}

.app_Solar_selectPymt_div{
  margin-bottom: 10px;
}

.app_Solar_Img_container{
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

.app_Solar_additions_select_div{
  flex-wrap: wrap;
  display: inline-flex;
  padding-bottom: 10px;
}

.app_Solar_additions_details{
}

.app_Solar_additions_item{
  padding: 4px;
  margin: 4px;
}

.app_Solar_pool_wider_btn{
  width: 143px;
}

.app_Solar_additions_container{
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid gainsboro; 
}

.app_Solar_additions_details div{
  padding: 7px;
}

.app_Solar_additions_details span{
  float: right;
}

.app_padding_bottom_10px{
  padding-bottom: 10px;
}

.app_active_register_btn{
  background-color: #FBFBFB; 
}

.app_inactive_register_btn{
  background-color: #F2F2F2;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  color: inherit;
} 

.app_inactive_register_btn:hover{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.08), 
    rgba(0, 0, 0, 0.08)
  )
}

.app_register_label{
  font-size: 20px;
}

.app_register_input_box{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 94%;
  padding: 11px;
}

.app_register_submit_btn{
  margin-top: 10px;
  padding: 10px;
  background-color: steelblue;
  text-align: center;
  color: white;
  cursor: pointer; 
  border-radius: 6px;
}

.app_register_submit_btn:hover{
  opacity: 0.9;
}

.app_register_submit_btn:active{
  opacity: 0.8;
}

.app_register_directive{
  color: grey;
  padding-bottom: 20px;
}

.app_register_password_container{
  padding-top: 10px;
}

.app_register_container_div{
  width: 74%;
  max-width: 510px;
  background-color: #FBFBFB;
  padding: 40px;
  margin: auto;
  margin-bottom: 60px;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.app_register_option_btn{
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 20px;
}

.app_register_select_container{
  text-align: center;
  width: 94%;
  max-width: 590px;
  margin: auto;
  margin-top: 60px;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  display: flex;
}

.app_register_border{
  display: inline-block;
  border-right: 1px solid gainsboro;
} 

.app_config_border{
  display: inline-block;
  border-right: 1px solid black;
} 

.app_locationDetails_border{
  display: inline-block;
  border-right: 2px solid rgb(22,158,170);
} 

.app_search_icon{
  height: 15px;
  position: absolute;
  cursor: pointer;
  padding: 3px;
}

.app_search_icon:hover{
  background: gainsboro !important;
  border-radius: 5px;
}

.app_options_btn{
  margin-right: 30px; 
  cursor: pointer;
  color: grey;
}

.app_options_btn:hover{
  color: black;
}

.app_productName{
  width: 84%;
}

.app_sticky_nav{
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.app_sticky_panel{
  position: fixed;
  width: 28%;
  top: 59px; 
}

.app_font11{
  font-size: 11px;
}