.text{
  background-color:green;
  color:red;
  padding:20px;
}

.app_NoSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}

.app_removeBlue{
  outline: none;
}

div{
  font-size: 13px;
}

.app_textalign{
  text-align: center;
}

.app_inline-block{
  display: inline-block; 
}

.app_cursorPointer{
  cursor: pointer;
}

.app_available{
  color: green;
}

.app_unavailable{
  color: red;
}

.app_textdecorationNone{
  text-decoration: none;
}

.app_source_footer{
  margin-top: 20px;
}

.app_seeMore_btn{ 
  cursor: pointer;
  border: 2px solid black;
  width: 62px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.app_seeMore_btn:hover{
  border: 2px solid rgb(22, 131, 252);
}

.app_modalData_content{
  overflow: auto;
  width: 100%;
  height: 340px; 
}