.headerRight{
    width: 24%;
    float: right; 
    text-align: right; 
}

.headerRight div{
    display: inline-block;
}

.headerRight div:first-child{
    margin-right: 15px;
}

.headerRight_links{
    color: white; 
    vertical-align: middle;
} 

.headerRight_hamburger{ 
    height: 10px;
    padding-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.notification_bell{
    height: 20px;
    border-radius: 50%; 
    vertical-align: middle;
    padding: 1px;
}

.notification_bell:hover{
    background-color: grey;
}

.notifications_number{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
    font-size: 10px;
    margin-right: 0 !important;
    vertical-align: middle;
}

.notifications_number:hover{
    cursor: default;
}