.headerRight{
    width: 24%;
    float: right; 
    text-align: right;
    cursor: pointer;
}

.headerRight div{
    display: inline-block;
}

.headerRight div:first-child{
    margin-right: 15px;
}

.headerRight_links{
    color: white;
} 

.headerRight_hamburger{
    /* display: none; */
    height: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.notification_bell{
    height: 20px;
    border-radius: 50%;
    padding: 3px;
}

.notification_bell:hover{
    background-color: grey;
}

.notifications_number{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
    margin-right: 0 !important;
}

.notification_bell_container{
    display: none !important;
}