.headerRight{
    width: 24%;
    float: right; 
    text-align: right;
    cursor: pointer;
}

.headerRight div{
    display: inline-block;
}

.headerRight div:first-child{
    margin-right: 15px;
}

.headerRight_links{
    color: white;
} 

.headerRight_hamburger{
    /* display: none; */
    height: 10px;
    padding-right: 10px;
    cursor: pointer;
}