.vehicleConfig_modelName_container{
    padding-bottom: 10px;
}

.vehicleConfig_modelName{
    padding-bottom: 10px; 
}

.vehicleConfig_modelPrice{
    float: right; 
}

.vehicleConfig_image_container{
    border: 2px solid black; 
    padding: 40px;
    display: inline-block;
    width: 38%;
    float: left;
}

.vehicleConfig_column1{
    padding-right: 6px;
}

.vehicleConfig_column2{
    padding-left: 6px; 
}

.vehicleConfig_vehicleImg_container{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

.vehicleConfig_pricing_container{
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vehicleConfig_range, .vehicleConfig_topSpeed{
    border-bottom: 1px solid gainsboro;
}

.vehicleConfig_columns_blockContent{
    width: 100%;
}

.vehicleConfig_pricing div{
    display: inline;
}

.vehicleConfig_pricing{
    padding: 5px;
}

.vehicleConfig_select_ul{
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}

.vehicleConfig_selectColor_ul{
    text-align: center;
    flex-wrap: wrap;
    width: 170px;
}

.vehicleConfig_selectCar_ul li{
    padding: 2px 5px 3px 5px;
}

.vehicleConfig_selectColor_input{
    width: 100%;
}

.vehicleConfig_selectCarAndColor_container{
    padding-top: 10px;
    border-bottom: 1px solid gainsboro;
}

.vehicleConfig_selectWheelAndInterior_container{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

.vehicleConfig_selectWheel_container, .vehicleConfig_selectInteriorColor_container{
    display: inline-block;
}

.vehicleConfig_selectCar_container, .vehicleConfig_selectColor_container{
    display: inline-block;
}

.vehicleConfig_selectCar_container div, .vehicleConfig_selectColor_container div{
    text-align: center;
}

.vehicleConfig_select{
    border: 2px solid black;
    padding: 2px 6px 4px 6px;
    margin: 7px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.vehicleConfig_select:hover{ 
    border: 2px solid rgb(22, 131, 252);
}

.color_select{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 0px !important;
}

.vehicleConfig_deep_blue_metallic{
    background-color: blue;
}

.vehicleConfig_pearl_white_multicoat{
    background-color: white;
}

.vehicleConfig_solid_black{
    background-color: black;
}

.vehicleConfig_midnight_silver_metallic{
    background-color: silver;
}

.vehicleConfig_red_multicoat{
    background-color: red;
}

.vehicleConfig_black_interior{
    background-color: black;
}

.vehicleConfig_white_interior{
    background-color: white;
}

.vehicleConfig_selectTowHitch_ul{
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 6px;
}

.vehicleConfig_accessory_select{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vehicleConfig_pricing_subcontainer1{
    border-right: 1px solid gainsboro;
}

.vehicleConfig_pricing_subcontainer3{
    border-bottom: 1px solid gainsboro;
    padding: 5px 0px 6px 0px;
    text-align: center;
}

.vehicleConfig_autopilot{
    padding-right: 48px;
}

.vehicleConfig_autopilot_container{
    padding-left: 0px;
    margin: 4px;
}

.vehicleConfig_incentives{
    border-bottom: 1px solid gainsboro;
}

.vehicleConfig_selectLayout_container, .vehicleConfig_autopilot_container{
    display: inline-grid;
}

.vehicleConfig_autopilot_container ul{
    padding-left: 0px;
}

.vehicleConfig_selectLayout_and_autopilot_container{
    border-bottom: 1px solid gainsboro; 
}

.veicleConfig_userEntry_container{
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid gainsboro;
}

.vehicleConfig_select_sr{
    margin: 2px;
    padding: 2px 10px 2px 10px;
}

.vehicleConfig_select_off{
    margin: 2px;
    padding: 2px 8px 2px 8px;
}

.vehicleConfig_select_srAndoff{
    margin-top: 10px;
}

.vehicleConfig_userInput_container{
    float: right
}

.vehicleConfig_submit_btn_container{
    padding: 25px 10px 20px 0px;
    text-align: center;
}

.vehicleConfig_control_btn{
    padding: 5px;
    width: 46%;
}

.vehicleConfig_reset_btn{
    margin-right: 10px;
}

.selected{
    border: 4px solid green;
}