.forgotPassword_container{
    text-align: center;
    width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}

.forgotPassword_title{
    margin: 40px 0px 40px 0px;
}

.forgotPassword_close{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #ddd; 
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    background-color: white; 
}

.forgotPassword_not_found{
    color: red;
    padding: 5px;
    display: none;
}

.forgotPassword_success{
    color: green;
    padding: 5px;
    display: none;
}

.forgotPassword_text{
    padding-bottom: 20px;
    font-weight: bold;
}

.forgotPassword_email_container{
    padding-bottom: 20px;
}