.solarAddProduct_container{  
    width: 100%;
    border-top: 1px solid black; 
}

.solarAddProduct_btn{
    /* margin: auto;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translateY(-50%);  */
}