.settings_container {
    text-align: center;
    width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}

.settings_title{
    margin: 40px 0px 10px 0px;
}

.settings_signedIn{
    padding-bottom: 20px;
    color: grey;
}

.settings_section{ 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.settings_close{
    cursor: pointer;
    border: 1px solid #ddd; 
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    background-color: white; 
}

.settings_subsection{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.settings_text{
    padding-right: 5px;
}

.settings_password_entry{
    display: block;
    margin: 5px;
}