.headerLeft{
    display:block;
    width: 20%;
    float: left;
}

.headerLeft div{
    display: inline-block;
    cursor: pointer;
}

.headerLeft div:first-child{
    margin-right: 15px;
}

.headerLeft_link{
    color:white;
}

.headerLeft_brandname{
    font-weight: bold;
}

.header_logo{
    /* font-size: 17px; */
}

.headerLeft_brandname_beta{
    color: skyblue;
}