.locationDetails_container{
    background-color:lightseagreen; 
    padding: 8px 20px 7px 20px;
    overflow: hidden;
    color:white;
    z-index: 3;
}

.locationDetails_content{
    background-color:lightseagreen;
    overflow: hidden;
    color:white;
    border: none;
}

.locationDetails_content_areacode{
    font-size: 25px;
}

.LocationDetails_element{
    display: inline-block;
    margin-right: 10px;
}

.LocationDetails_zipcode{
    font-size: 34px;
    font-weight: bold;
}

.LocationDetails_city{
    font-size: 24px;
    font-weight: bold;
}

.locationDetails_subcontainer_2{
    padding: 0px 20px 0px 20px;
}

.locationDetails_areacode{
    font-size: 28px;
    padding-right: 5px;
}

.locationDetails_areacode_subtext{
    font-size: x-small;
    margin-left: 16px;
}

.locationDetails_time_digital{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    color: orange;
}

.locationDetails_subcontainer_3, .locationDetails_subcontainer_4{
    padding: 0px 20px 0px 20px; 
}

.locationDetails_subcontainer_4{
    color: white;
}

.locationDetails_region_name{
    font-weight: bold;
    font-size: 20px;
}

.locationDetails_icons{
    display: inline-block;
    padding: 0px 10px 0px 10px; 
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.locationDetails_icons:hover{
    background-color: rgb(22,158,170);
}

.locationDetails_projectSun, .locationDetails_weather{
    height: 26px;
}

.locationDetails_subcontainers{
    margin: auto;
}

.locationDetails_projectSun_container{
    margin-right: 5px;
}

.locationDetails_timezone{
    text-align: center;
}
