.headerMobileMenu{ 
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 20;
    position: fixed;
    width: 100%;
    color: black;
    display: none;
}

.headerMobileMenu_contents{
    background-color: white;
    overflow-y: auto;
    height: 100vh; 
    max-width: 300px;
    padding: 40px;
    text-align: center;
}

.headerMobileMenu_links{ 
    padding: 10px;
}

.headerMobileMenu_links div{
    font-size: 20px; 
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}

.headerMobileMenu_close{
    cursor: pointer;
}