.headerMobileMenu{
    background-color: white;
    overflow-y: auto;
    height: 100vh; 
    padding: 40px;
    position: absolute;
    right: 0px;
    width: 300px;
    text-align: center;
}

.headerMobileMenu_links{ 
    padding: 10px;
}

.headerMobileMenu_links div{
    font-size: 15px; 
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}