.headerMobileMenu{ 
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 20;
    position: fixed;
    width: 100%;
    color: black;
    margin-top: -5px;
    margin-left: -20px; 
}

.headerMobileMenu_contents{
    background-color: white;
    overflow-y: auto;
    height: 100vh;
    /* max-width: 300px; */
    padding: 40px;
    position: absolute;
    right: 0px;
    width: 300px;
    text-align: center;
}

.headerMobileMenu_links{ 
    padding: 10px;
}

.headerMobileMenu_links div{
    font-size: 15px; 
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}