.solarMenu_form_kwh, .solarMenu_form_submit_btn{
    margin-left: 40px;
}

.solarMenu_form_submit_btn{
    border-radius: 2px;
}

.solarMenu_form_bill_input{
    width: 50px;
}

.solarMenu_form_kwh select{
    cursor: pointer;
    padding: 4px;
}

.solarMenu_form_bill_label{
    padding-right: 5px;
}

.solarMenu_form_kwh select{
    margin-right: 5px; 
}

.solarMenu_utility_container{
    padding: 20px 20px 20px 7px;
}

.solarMenu_utiltiy_select{
    padding: 5px;
}

.select_unavailable{
    opacity: 0.2;
}

.select_unavailable:hover{
    cursor: default !important;
    opacity: 0.2;
    cursor: default;
    background-color: gainsboro;
    color: black;
}