.productMenu_container{
    background-color:rgb(240,240,240);
    display: block;
    padding: 10px 20px 0px 20px;
    overflow: hidden;
    text-align: center;
}

.productMenu_btn{
    text-align: center;
    display: inline-block;
    padding: 20px 60px 20px 60px;
    background-color:rgb(240,240,240);
    border-bottom: 3px solid rgb(240,240,240);
    cursor:pointer;
}

.vehicle_menu_btn:hover{
    border-bottom: 3px solid red;
}

.solar_menu_btn:hover{
    border-bottom: 3px solid red;
}