.productMenu_container{
    background-color:rgb(240,240,240);
    border-bottom: 1px solid gainsboro;
    display: block; 
    overflow: hidden;
    text-align: center; 
}

.productMenu_btn{
    text-align: center;
    display: inline-block;
    padding: 14px 60px 14px 60px;
    background-color:rgb(240,240,240);
    border-bottom: 3px solid rgb(240,240,240);
    cursor: pointer;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.vehicle_menu_btn:hover{
    border-bottom: 3px solid red;
}

.solar_menu_btn:hover{
    border-bottom: 3px solid red;
}