.productMenu_container{
    background-color:rgb(240,240,240);
    border-bottom: 1px solid gainsboro;
    display: block; 
    overflow: hidden;
    text-align: center; 
}

.productMenu_btn{
    text-align: center;
    display: inline-block;
    padding: 14px 60px 14px 60px;
    background-color:rgb(240,240,240);
    border-bottom: 3px solid rgb(240,240,240);
    cursor: pointer;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.vehicle_menu_btn:hover{
    border-bottom: 3px solid red;
}

.solar_menu_btn:hover{
    border-bottom: 3px solid red;
}

.productMenu_loggedIn{
    background-color: darkseagreen;
    border: 1px solid seagreen;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    color: white; 
    text-align: center; 
    margin: auto; 
    font-weight: bold;
    display: none;
}

.productMenu_hamburger_btn{
    height: 22px;
    cursor: pointer;
} 

.productMenu_hamburger_container{ 
    width: 4.8%;
    margin: auto;
}

.productMenu_btn_container{ 
    width: 99%;
}