.modalTitle{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    padding-top: 30px;
}

.infoPanel_showroom1_address{
    margin-top: 0;
    margin-bottom: 0;
}

.app_modalData_content{
    padding-bottom: 50px;
}