.headerCenter{
    width: 56%;
    float: left;
    text-align: center;
}

.headerCenter_input{ 
    border-radius: 4px;
}

.headerCenter_search_icon{
    margin-left: -28px;
    margin-top: 4px;
    background-color: white;
}