.notifications_container {
    text-align: center;
    width: 1000px;
    margin: auto;
}

.notifications_title{
    margin: 40px 0px 40px 0px;
}

.notitifcation_date{
    background-color: #FFD480;
    padding-right: 20px;
    padding: 10px;
}

.notitifcation_date_new{
    background-color: #df6161;
    padding-right: 20px;
    padding: 10px;
}

.notifications_text{
    padding: 10px;
}

.notifications_content{
    border: 1px solid orange; 
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
}

.notifications_content_new{
    border: 1px solid firebrick;
    background-color: white;
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
}
