.scrollUp_container{ 
    position: fixed;
    bottom: 110px;
    right: 10px; 
    opacity: 0.2;
}

.scrollUp_container:hover{
    opacity: 1;
}

.scrollUp_vehicle_container{
    border-radius: 4px;
    border: 2px solid grey;
    padding: 3px;
    background-color: gainsboro
}

.scrollUp_button, .scrollUp_top{
    border: 2px solid black;
    padding: 4px;
    padding-right: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.scrollUp_button:hover{ 
    font-weight: bold;
    background-color: black;
    color: white;
}

.scrollUp_top{
    margin-bottom: 10px;
    background-color: gainsboro;
    border: 2px solid grey;
}