.notification_dd_container{ 
    background-color: white;
    overflow-y: auto; 
    padding: 10px;
    position: absolute;
    right: 190px;
    width: 400px;
    top: 41px;
    z-index: 4;
    text-align: center;
    border: 2px solid gainsboro;
    color: black; 
    padding-bottom: 40px;
}

.notification_dd_header{
    border-bottom: 2px solid gainsboro;
    font-weight: bold; 
    padding: 5px 0px 10px 0px;
    margin-bottom: 5px;
}

.notification_container{
    text-align: left;
}

.notification{ 
    text-align: left; 
    padding: 20px 10px 20px 10px;
    display: flex;
}

.notification_link{
    padding-left: 10px;
}

.notification_days{
    padding-top: 7px;
    color: grey;
}

.notifcation_seen_container{
    float: left;
    height: 100%;
    padding: 10px 10px 10px 0px;
}

.notification_seen{
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

.notification_scroller{
    overflow: auto;
    max-height: 400px;
}

.notification_new{
    background-color: lightgreen;
}

.notification_old{
    background-color: grey;
}