.home_container{
    text-align: center;
    width: 1000px;
    margin: auto;
}

.home_reasons{
    text-align: center;
}

.home_reasons_number{
    display: inline-block;
    background-color: powderblue;
    border-radius: 50%; 
    height: 25px;
    width: 25px;
    margin-right: 20px;
    padding: 10px 5px 0px 5px;
    color: white;
}

.home_reasons_container{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.home_description{
    margin-bottom: 5px;
}

.home_reasons_container{
    padding-bottom: 30px;
}

.home_title{
    margin: 40px 0px 40px 0px;
    display:none;
}

.home_hero_super{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.home_hero_container{
    text-align: left; 
    display: flex;
}

.home_hero_text_container{
    width: 52%;
}

.home_hero_img_container{
    float: left;
}

.home_img{
    background-color: green;
    color: green;  
    font-weight: bold;
    font-size: 50px; 
    line-height: 45px;
    height: 475px;
}

.home_hero_heading{
    font-weight: bold;
    font-size: 68px;
    line-height: 67px;
    padding-top: 73px;
}

.home_hero_text{
    font-size: 24px; 
    padding-top: 60px;
}

.home_underline{
    text-decoration: underline;
}

.home_small_print{
    padding-top: 10px;
    font-size: 10px;
}

.home_email{
    color: darkorange;
    padding-left: 5px;
}

.home_subheading{
    font-size: 30px;
}

.home_subtext{
    font-size: 20px;
    color: black; 
}

.home_subtext_container{
    padding-top: 50px;
    padding-bottom: 100px;
}

.home_feature_img{
    background-color: green;
    color: green;
    height: 200px;
}

.home_hero_img_container2{
    padding-left: 10%;
}

.home_hero_img_container3{
    padding-left: 20%;
}