.home_container{
    text-align: center;
    width: 1000px;
    margin: auto;
}

.home_reasons{
    text-align: center;
}

.home_reasons_number{
    display: inline-block;
    background-color: powderblue;
    border-radius: 50%; 
    height: 25px;
    width: 25px;
    margin-right: 20px;
    padding: 10px 5px 0px 5px;
    color: white;
}

.home_reasons_container{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.home_description{
    margin-bottom: 5px;
}

.home_reasons_container{
    padding-bottom: 30px;
}

.home_title{
    margin: 40px 0px 40px 0px;
}

.home_hero_super{
    background-color: skyblue;
    width: 100%;
    /* padding: 22px;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_hero_container{
    text-align: left; 
    padding: 20px 0px 20px 0px;
    display: flex;
}

.home_hero_text_container{
    background-color: orange;
    width: 52%;
}

.home_hero_img_container{
    float: left;
    width: 48%;
}

.home_img{
    background-color: green;
    color: green; 
    height: 100%;
    font-weight: bold;
    font-size: 50px; 
    line-height: 45px;
}

.home_hero_heading{
    font-weight: bold;
    font-size: 50px; 
    line-height: 45px;
}

.home_hero_text{
    font-size: 18px;
    font-weight: bold;
}

.home_feature_super{
    background-color: indianred;
    padding: 5px;
}

.home_underline{
    text-decoration: underline;
}

.home_small_print{
    padding-top: 10px;
    font-size: 10px;
}

.home_email{
    color: darkorange;
    padding-left: 5px;
}

.home_subheading{
    font-size: 30px;
}

.home_subtext{
    font-size: 20px;
    color: black; 
}

.home_subtext_container{
    padding-top: 50px;
    padding-bottom: 100px;
}