.batteryOptionsContainer{
    display: flex;
    margin-top: 15px;
}

.specsMainContainer{
    display: flex;
}

.specsContainer{
    padding: 10px;
    width: 50%; 
}

.specContainer{
    display: flex;
}

.specsBorder{
    margin: 0px 20px 0px 20px;
}

.spec{
    padding: 3px;
    width: 190px;
}

.spec_shrunk{
    padding: 3px;
    width: 160px;
}

.darkerBacking{
    background-color: rgb(240, 240, 240);
}

.specsHeading{
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.specSubContainer{
    padding-top: 15px;
}

.selected_spec{
    border: 2px solid rgb(22, 131, 252); 
}