.infoPanel{
    background-color: white;
}

.infoPanel_container{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    height: 560px;
}

.infoPanel_title{
    font-weight: bold;
}

.infoPanel_section{
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid gainsboro;
}

.infoPanel_section_data{
    overflow: auto;
    width: 100%;
    height: 95%;
}
