.infoPanel{
    background-color: white;
}

.infoPanel_container{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    height: 560px;
}