.grayBackground{ 
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 20;
    position: fixed;
    width: 100%;
    color: black;
    margin-top: -5px;
    margin-left: -20px; 
}