.grayBackground{
    height: 100vh;
    z-index: 20;
    position: fixed;
    width: 100%;
    color: black;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.exitGrayBackground{
    background-color: rgba(0, 0, 0, 0.3);
    width: 70.3%;
    height: 100vh;
    position:absolute;
}