.lost_container{
    display: flex;
    padding: 200px;
    margin:auto;
    padding-top: 150px;
}

.lost_404{
    text-align: center;
    font-size: 60px;
    font-weight: bold; 
    margin-top: 50px;
    padding: 20px;
}

.lost_text{
    text-align: center;
    font-size: 30px; 
}

.lost_img{
    height: 300px;
}

.lost_elements{
    margin: auto;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}